.Posts__mini {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #03031840;
  border-right: 1px solid #44444455;
}

.Posts__mini__post {
  width: 400px;
  margin: 10px 0;
  padding: 10px;
  background-color: #011634;
  color: #f0f3f4;
  border-radius: 6px;
  color: #fff;
  border: 1px solid rgba(80, 43, 226, 0.181);
  box-shadow: rgba(80, 43, 226, 0.052) 0px 10px 30px 5px,
    rgba(80, 43, 226, 0.118) 12px 40px 50px 5px;
}
.img_content {
  width: 100%;
  max-height: 380px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  overflow: hidden;
  background-color: #33333377;
  border: 1px solid #33333377;
}
.Posts__mini__image {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.Posts__mini__image:hover {
  /* transform: scale(1.07); */
  cursor: pointer;
}

.Posts__mini__profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 10px;
  background-color: #502be273;
  border: 2px solid #502be240;
  margin-bottom: 5px;
  border-radius: 5px;
}
.Posts__mini__post__profile__link{
  color: #fff;
}
.Posts__mini__tools {
  width: 100%;
  padding: 8px;
}
.Posts__mini__linkusername {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.Posts__mini__linkusername h2 {
  font-size: 18px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.statics__count {
  display: inline;
  font-weight: 700;
  margin-right: 12px;
}
.Posts__mini__linkusername h2 i {
  font-size: 12px;
  padding-left: 5px;
  color: rgb(187, 255, 0);
}
.dontneedhref {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
}
.Posts__mini__linkusername p {
  font-size: 12px;
}
.Posts__mini__profile__content{
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.Posts__mini__primages {
  width: 40px;
}
.Posts__mini__title {
  width: 90%;
}
.post__mini_options {
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.post__mini_options .icon {
  font-size: 26px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}
.posts__mini__likecount {
  font-size: 14px;
  font-weight: 700;
}
.Posts__mini__title {
  font-size: 16px;
  font-weight: 500;
}
.Posts__mini__title span {
  font-size: 16px;
  font-weight: 700;
}
.Posts__mini__desc {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
}
.post__hasMore {
  /* border: 1px solid #00000090; */
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 45px;
  margin: 10px;
  background-color: blueviolet;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.icon-like {
  color: red;
}
