.Posts__mini {
  width: 400px;
  margin-left: 40px;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.Posts__mini__post {
  width: 90%;
  margin: 10px 0;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 1px solid red; */
}
.img_content {
  width: 100%;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.Posts__mini__image {
  width: 100%;
  border-radius: 5px;
}
.Posts__mini__title {
  width: 90%;
}
.post__mini_options {
  width: 100%;
  padding: 5px 0;
}
.post__mini_options .icon {
  font-size: 28px;
  margin-right: 15px;
}
.posts__mini__likecount {
  font-size: 18px;
  font-weight: 600;
}
.Posts__mini__title {
  font-size: 16px;
  font-weight: 500;
}
.Posts__mini__title span {
  font-size: 16px;
  font-weight: 700;
}
.Posts__mini__desc {
  font-size: 14px;
  font-weight: 400;
}
