.Navbar {
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 280px;
  height: 100%;
  padding: 0 20px;
  background: #fff;
  border-right: 1px solid #44444455;
}
.Navbar__logo {
  font-size: 26px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1.5px;
  padding-left: 10px;
}
.nav__icon {
  font-size: 25px;
  margin-right: 10px;
  color: #000;
}
.Navbar__nav {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
}
.Navbar__nav .Navbar__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 20px;
  color: black;
  font-weight: 700;
  letter-spacing: -0.5px;
  transition: .5s ease-in-out;
}

.Navbar__nav .Navbar__link:hover{
  background-color: #66666655;
}