.Navbar {
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 280px;
  height: 100%;
  padding: 0 20px;
  /* background: #fff; */
  background-color: #020209;
  border-right: 1px solid #44444455;
}
.Navbar__logo {
  font-size: 26px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1.5px;
  padding-left: 10px;
}
.nav__icon {
  font-size: 22px;
  margin-right: 8px;
  color: #fff;
}
.Navbar__nav {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
}
.Navbar__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3px;
  width: 220px;
  color: #fff;
  padding: 10px 0;
  font-size: 17px;
  font-weight: 600;
  padding-left: 28px;
  border-radius: 10px;
  letter-spacing: -0.4px;
  font-family: "Poppins";
  text-transform: uppercase;
  border: 2px solid #502be26f;
  transition: 0.5s ease-in-out;
  box-shadow: #502be2 0px 50px 100px -20px, #502be2 0px 30px 60px -30px;
}

.Navbar__logout {
  position: absolute;
  bottom: 10px;
  width: 220px;
}

.Navbar__link:hover {
  background: #502be2;
}
