* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Hanken Grotesk", "Poppins", "Merriweather", sans-serif;
}
body{
  background-color: #020209;
}
/* 

font-family: 'Hanken Grotesk', sans-serif;
font-family:  serif;
font-family:  sans-serif;

*/
